/* =======================================
FONDO GENERAL
CAMBIAR fondo.jpg por tu imagen
======================================= */


/* Fondo blanco semitransparente en secciones */
section, footer{
    background: rgba(255,255,255,0.90);
}

/* Navbar */
.navbar{
    padding: 0px;
}

/* =======================================
MENU LETRAS DE COLORES
======================================= */
.nav-link{
    font-family: 'Chewy', cursive;
    font-size: 1.35rem;
    margin-left: 10px;
    font-weight: normal;
    letter-spacing: 1px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.15);
    transition: transform 0.3s ease;
}

.nav-link:hover{
    transform: scale(1.08);
}

/* Color por opción */
.nav-item:nth-child(1) .nav-link{ color:#ff4d4d !important; }
.nav-item:nth-child(2) .nav-link{ color:#ff9900 !important; }
.nav-item:nth-child(3) .nav-link{ color:#33cc33 !important; }
.nav-item:nth-child(4) .nav-link{ color:#3399ff !important; }
.nav-item:nth-child(5) .nav-link{ color:#cc66ff !important; }
.nav-item:nth-child(6) .nav-link{ color:#ff66b3 !important; }

/* Carrusel */
.slider-img{
    height: 500px;
    object-fit: cover;
}

@media(max-width:768px){
    .slider-img{
        height: 250px;
    }
}

/* Colores */
.texto-color{
    color: #ff4da6;
}

/* Footer */
.footer{
    background: #222 !important;
}

.social{
    color: white;
    font-size: 28px;
    margin: 0 10px;
    text-decoration: none;
}

.social:hover{
    color: #ff4da6;
}


/* ====== SECCION QUIENES SOMOS ====== */
.directora-section{
    padding: 60px 0;
    background: #f8f9fa;
}

.directora-box{
    text-align: center;
}

/* IMAGEN VERTICAL */
.directora-img-vertical{
    max-height: 520px;
    width: auto;
    max-width: 100%;
    object-fit: contain;
}

/* IMAGEN CUADRADA / SENTADA */
.directora-img-cuadrada{
    width: 100%;
    max-width: 350px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.info-card{
    background: white;
    padding: 20px;
    border-radius: 18px;
    margin-bottom: 18px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.info-card h3{
    color: #0d6efd;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.info-card ul{
    padding-left: 20px;
}

.info-card li{
    margin-bottom: 8px;
}

@media (max-width:768px){
    .directora-box{
        margin-bottom: 30px;
    }
}